<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/master}">
<head>

        <title>ManagementController</title>

</head>
<body>

        <div class="container-fluid mt-5" layout:fragment="content">
            <div class="row">
                <div class="md-form">

                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">

                    <div class="card">
                        <div class="card-body" >
                          <h2 class="font-weight-bold deep-orange-lighter-hover mb-3 He1 mt-4" th:text="#{article-management}">Card title</h2>
                        </div>
                    </div>
                    <a href="/add" ><button type="button" class="btn btn-success mt-3 " th:text="#{add-article}">Success</button></a>

                   <form class="filter mb-3 mt-2" method="get" >

                       <input type="text" id="form1" th:field="${filter.title}" placeholder="Search" class="form-control filter_choose mr-2">


                       <select class="browser-default custom-select filter_choose" th:field="${filter.cate_id}" >
                           <option value="">No filter</option>

                           <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.nameCategory}">One</option>

                       </select>
                       <a ><button type="submit" class="btn btn-warning " th:text="#{Search}" style="margin-left: 80px; margin-top: -5px;">Success</button></a>
                   </form>
                    <table class="table table-striped table-responsive-md btn-table" >
                        <thead class="danger-color white-text">
                        <th th:text="#{ID}">ID</th>
                        <th th:text="#{title}">TITLE</th>
                        <th th:text="#{category}">CATEGORY</th>
                        <th th:text="#{author}">AUTHOR</th>
                        <th th:text="#{desc}">DESCRIPTION</th>
                        <th th:text="#{date}">DATE</th>
                        <th th:text="#{image}">IMAGE</th>
                        <th th:text="#{action}" style="text-align:center">ACTION</th>


                        </thead>

                        <tr th:each="article: ${articles}" th:object="${article}">

                            <td><b th:text="*{id}">id</b></td>
                            <td th:text="*{title}">title</td>
                            <td th:text="*{category.nameCategory}">Category</td>
                            <td th:text="*{author}">Author</td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{createdData}">Create Date</td>
                            <td><img th:src="'/images/'+*{image}"  alt="thumbnail" class="img-thumbnail"
                                     style="width: 200px"></td>
                            <td >
                                <a th:href="@{/delete/{id}(id=*{id})}">  <button type="button" class="btn btn-success " th:text="#{delete}" style=" width: 120px";></button></a>
                                <a th:href="@{/update/{id}(id=*{id})}"> <button type="button" class="btn btn-info " th:text="#{update}" style=" width: 120px;"></button></a>
                                <a th:href="@{/Veiw/{id}(id=*{id})}"> <button type="button" class="btn btn-info "th:text="#{ veiw }"style=" width: 120px;" ></button></a>
                            </td>

                        </tr>


            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination pg-blue">
                    <li class="page-item disabled">
                        <a class="page-link"  th:href="@{/(page=1,title=${filter.title},cate_id=${filter.cate_id})}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"  th:href="@{/(page=${paging.previousPage},title=${filter.title},cate_id=${filter.cate_id})}"></a>
                    </li>
                    <li th:each="i:${#numbers.sequence(paging.startPage,paging.endPage)}" th:class="${paging.page}==${i}?'page-item active'">
                        <a class="page-link"  th:text="${i}" th:href="@{/(page=${i},title=${filter.title},cate_id=${filter.cate_id})}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"  th:href="@{/(page=${paging.nextPage},title=${filter.title},cate_id=${filter.cate_id})}"></a></li>
                    <li class="page-item">
                        <a class="page-link"  th:href="@{/(page=${paging.totalPage},title=${filter.title},cate_id=${filter.cate_id})}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>

</div>
</div>
        <div th:replace="fragments/footer :: footer"></div>
</body>
</html>