<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/master}">
<head>

        <title>ManagementController</title>

</head>
<body>

        <div class="container-fluid mt-5" layout:fragment="content">
            <div class="row">
                <div class="md-form">

                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">

                    <div class="card">
                        <div class="card-body" >
                          <h2 class="font-weight-bold deep-orange-lighter-hover mb-3 He1 mt-4" th:text="#{article-management}">Card title</h2>
                        </div>
                    </div>
                    <a href="/addCategory" ><button type="button" class="btn  btn-danger mt-5" th:text="#{add-article}">Success</button></a>
                    <table class="table table-striped table-responsive-md btn-table mt-5" >
                        <thead class="secondary-color-dark white-text">
                        <th th:text="#{ID}">ID</th>
                        <th th:text="#{category}">CATEGORY</th>
                        <th th:text="#{action}" style="text-align:center">ACTION</th>


                        </thead>

                        <tr th:each="category: ${categories}" th:object="${category}">

                            <td><b th:text="*{id}">id</b></td>
                            <td th:text="*{nameCategory}">Category</td>

                            <td  style="text-align: center;" >
                                <a th:href="@{/deleteCategory/{id}(id=*{id})}">  <button type="button" class="btn btn-success " th:text="#{delete}" style=" width: 120px";></button></a>
                                <a th:href="@{/updateCategory/{id}(id=*{id})}"> <button type="button" class="btn btn-unique " th:text="#{update}" style=" width: 120px;"></button></a>

                            </td>

                        </tr>


            </table>
<!--            <nav aria-label="Page navigation example">-->
<!--                <ul class="pagination pg-blue">-->
<!--                    <li class="page-item disabled">-->
<!--                        <a class="page-link"  th:href="@{/(page=1,title=${filter.title},cate_id=${filter.cate_id})}">Previous</a>-->
<!--                    </li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"  th:href="@{/(page=${paging.previousPage},title=${filter.title},cate_id=${filter.cate_id})}"></a>-->
<!--                    </li>-->
<!--                    <li th:each="i:${#numbers.sequence(paging.startPage,paging.endPage)}" th:class="${paging.page}==${i}?'page-item active'">-->
<!--                        <a class="page-link"  th:text="${i}" th:href="@{/(page=${i},title=${filter.title},cate_id=${filter.cate_id})}"></a>-->
<!--                    </li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"  th:href="@{/(page=${paging.nextPage},title=${filter.title},cate_id=${filter.cate_id})}"></a></li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"  th:href="@{/(page=${paging.totalPage},title=${filter.title},cate_id=${filter.cate_id})}">Next</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->

        </div>

</div>
</div>
        <div th:replace="fragments/footer :: footer"></div>
</body>
</html>